---
layout: default
header:
  image_fullwidth: art/2018-06--art--diving-flame-expanded--1600x503.jpg
title: "Art"
teaser: "A collection of my artworks."
breadcrumb: true
permalink: "art/"
card_width: 240
card_image_margin: 10
---

<style type="text/css">
	/* 
	these classes, and the variables above, 
	can be moved to .scss at some point 
	*/

	#lightgallery-wrap {

	}
	#lightgallery {
	}
	#lightgallery-end {
		clear: both;
	}

	.lg-img-a {
		// placeholder, for future possible use
	}

	.lg-img {
		// prevent spaces between the images
		display: block;
		float: left;

		border: 0.4em solid black;

		// override setting from styles_feeling_responsive.css
		border-radius: initial;
		-moz-border-radius: initial;
		-webkit-border-radius: initial;
	}

</style>


{% assign folder = "/art/" %}
{% assign gallery_images = "" | split: "," %}
{% assign gallery_captions = "" | split: "," %}

{% for static_file in site.static_files %}
  {% if static_file.path contains folder %}
  	{% if static_file.basename contains "post-thumb" %}
		{% else %}
	  	{% if static_file.basename contains "-thumb" %}
 		 		{% if static_file.path contains "extra-ignore" %}
				{% else %}

 				 	{% if static_file.extname == ".png" or static_file.extname == ".jpg" or static_file.extname == ".gif" %}

						{% assign thumb_url = static_file.path | remove_first: "/images/" %}
						{% assign image_caption = static_file.basename | remove_first: "-thumb"%}
	
						{% assign gallery_images = gallery_images | push: thumb_url %}
						{% assign gallery_captions = gallery_captions | push: image_caption %}

	 	 			{% endif %}
 	 			{% endif %}
 	 		{% endif %}
  	{% endif %}
  {% endif %}
{% endfor %}



<div id="blog-index" class="row">
	<div class="small-12 columns t30">
		<h1>{{ page.title }}</h1>
		{% if page.teaser %}<p class="teaser">{{ page.teaser }}</p>{% endif %}


		<div id="lightgallery-wrap">
		<div id="lightgallery">

			{% assign array_last_index = gallery_images | size | minus: 1 %}

			{% for index in ( 0..array_last_index ) %}

				{% capture thumb_url %}{{ gallery_images[ index ] }}{% endcapture %}
				{% assign split_url = thumb_url | split: '-thumb' %}
				{% capture image_url %}{{split_url[0]}}{{split_url[1]}}{% endcapture %}
	
				{% assign image_caption = gallery_captions[ index ] %}

			    <a href="{{ site.urlimg }}{{ image_url }}"
							class="lg-img-a"
							title="{{ image_caption }}"
						><img 
							{% if include.show_caption %}
								{% if image_caption %}data-caption="{{ image_caption }}"{% endif %} 
							{% endif %}
							src="{{ site.urlimg }}{{ thumb_url }}" 
							alt="{{ image_caption }}"
							title="{{ image_caption }}"
							class="lg-img"
						><img 
						></a>
	
			{% endfor %}

			<div id="lightgallery-end"></div>
		</div>
		</div>

	</div><!-- /.small-12.columns -->
</div><!-- /.row -->


<script type="text/javascript">

	console.log("init lightgallery");
	lightGallery(
		document.getElementById('lightgallery'), 
		{
/*
			thumbnail:true
*/
		}
	);

</script>


<!-- vim: ts=2
-->
