---
layout: default
title: "Art"
teaser: "A collection of my artworks."
breadcrumb: true
permalink: "art/"
card_width: "200px"
---
<div id="blog-index" class="row">
	<div class="small-12 columns t30">
		<h1>{{ page.title }}</h1>
		{% if page.teaser %}<p class="teaser">{{ page.teaser }}</p>{% endif %}

		{% for repeat in (1..10) %}<!-- BEGIN - this repeat loop is for testing -->
		{% endfor %}<!-- END - this repeat loop is for testing -->

			{% for post in site.categories.art %}
				{% assign post_thumb = "/art/" | append: post.title | append: "/post-thumb.jpg" %}

				<div class="card" style="width: {{ page.card_width }}; float: left; margin: 1em; ">

					<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}">

						<div class="card-divider">
							{% if post.subheadline %}{{ post.subheadline }} › {% endif %}<strong>{{ post.title }}</strong>
						</div>

						<img src="../images/{{ post_thumb }}" 
							style=" margin: 0.25em; max-width: {{ page.card_width }}; max-height: {{ page.card_width }}; "/>

						<div class="card-section">
							{% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% elsif post.teaser %}{{ post.teaser | strip_html | escape }}<br/>{% endif %}
						</div>
					</a>

				</div>
			{% endfor %}


	</div><!-- /.small-12.columns -->
</div><!-- /.row -->


<!-- vim: ts=2
-->
